//@import "@/assets/css/variables";
//@import "@/assets/css/result";

article {
  position: relative;
  overflow: hidden;
  height: calc(100vh - 100px);
  max-width: 100vw;
  padding-top: 65px !important;
}

.chart-wrap {
  position: absolute;
  transform-origin: left top;
  overflow: visible;
  width: calc(100% - 80px);
  max-width: 100vw;
  height: calc(100% - 50px);

  //height: 1000px;
  @media (min-width: 960px) {
    width: calc(100% - 180px);
  }
}

.echart-bg {
  position: absolute;

  width: 100%;
  max-width: 100vw;

  top: 0px;
  left: 0px;
  transform-origin: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  overflow: hidden;
  z-index: 0;

  img {
    position: absolute;
    object-fit: contain;
    transition: opacity 0.5s;
    opacity: 0.5;
  }

  .interest {
    opacity: 0.5;
    z-index: 1;
  }

  .warn {
    opacity: 0.3;
    z-index: 2;
  }

  .danger {
    opacity: 0.4;
    z-index: 3;
  }

  .safe {
    opacity: 0.1;
    z-index: 0;
  }
}

.echart {
  position: absolute;
  width: 100%;
  height: 100%;

  margin: 0 auto;
  //top: 0;
  top: -370px;
  left: 30%;
  transform: translateX(-50%);

  @media (min-width: 960px) {
    //left: 0px;
    //top: -500px;
  }

  text {
    color: red !important;
  }
}

.echart2 {
  position: absolute;
  width: 100%;
  max-width: 100vw;
  height: calc(100vh - 65px); //600px;
  min-height: 300px;

  margin: 0 auto;
  margin-bottom: -50px;
  top: 0px;
  left: 0px;
  transform-origin: left center;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 33px;

  .info-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .info-recommend {
    margin-top: 13px;
    background: #d9d9d9;
    border-radius: 7px;
    padding: 4px 10px;
    margin-right: 31px;
  }

  .info-item {
    margin-top: 13px;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: white;

    span {
      font-size: 12px;
      font-weight: 600;
      color: rgba(65, 64, 66, 0.8);
    }
  }

  .info-danger {
    margin-left: 28px;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    background: #eb7291;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-warn {
    margin-left: 7px;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    background: #ffab4d;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .info-interest {
    margin-left: 7px;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    background: #00afec;
    border-radius: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.label {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  gap: 10px;
  bottom: 65px;
}

.label-safe {
  display: inline-block;
  text-align: right;
  font-size: 8px;

  span {
    vertical-align: baseline;
    display: inline-block;
    margin-right: 3px;
    width: 8px;
    height: 8px;
    background: #50cc1a; //#feae70;
  }
}

.label-danger {
  display: inline-block;
  text-align: right;
  font-size: 8px;

  span {
    vertical-align: baseline;
    display: inline-block;
    margin-right: 3px;
    width: 8px;
    height: 8px;
    background: #fc4a6a; //#feae70;
  }
}

.control {
  position: absolute;
  bottom: 50px;
  left: 5%;
  display: flex;
  gap: 10px;

  div {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    box-shadow: 3px 10px 30px #00000053;
    gap: 10px;
    flex-direction: column;
    border-radius: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.zoom-info {
  position: fixed;
  height: 60px;
  width: 60px;
  /* top: -12px;
  left: 0; */
  /* 24.01.08 수정 */
  top: 60px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;

  img {
    width: 22px;
    height: 22px;
  }

  &.top {
    //top: -109px;
    top: 0;
  }
}

article {
  padding: 0;
}

.cluster-list {
  color: rgba(65, 64, 66, 0.6);
  text-align: right;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.07px;

  .focused {
    color: #414042;
    text-align: right;
    font-size: 12px;
    font-family: Pretendard;
    font-weight: 700;
    letter-spacing: 0.07px;
    text-decoration-line: underline;
    cursor: pointer;
  }

  .left-list {
    position: absolute;
    /* width: 90px; */
    left: 0;
    margin-top: 0;
    //margin-left: 28px;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    //height: calc(calc(var(--vh, 1vh) * 100) - 240px);
    height: 82%;
    @media (min-width: 960px) {
      margin-top: 20px;
      margin-left: 0;
      //height: calc(calc(var(--vh, 1vh) * 100) - 136.5px);
      height: 100%;
    }

    //span {
    //  @media screen and (min-width: 768px) {
    //    //padding: 42% 13px;
    //    padding: 37% 13px;
    //  }
    //}
  }

  span {
    display: inline-block;
    text-align: left;
    white-space: pre-wrap;

    @media screen and (min-width: 768px) {
      //padding: 32% 13px;
      //padding: 28% 13px;
      font-size: 13px !important;
      //cursor: pointer;
    }

    @media screen and (max-width: 767px) {
      padding: 3.5px 6.5px;
      font-size: 11px !important;
    }

    border-radius: 8px;
    background: rgba(204, 204, 204, 0.2);

    //&:last-child {
    //  margin-bottom: 113px;
    //}
  }

  .right-list {
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    text-align: right;
    //margin-right: 28px;
    margin-top: 0;
    margin-right: 1.5rem;
    //height: calc(calc(var(--vh, 1vh) * 100) - 240px);
    height: 82%;
    @media (min-width: 960px) {
      margin-top: 20px;
      margin-right: 0;
      //height: calc(calc(var(--vh, 1vh) * 100) - 136.5px);
      height: 100%;
    }

    span {
      text-align: right;
    }
  }

  .danger {
    background-color: transparent;
    color: #F6746F;
    font-size: 8px;
    font-weight: 500;
  }

  .warn {
    background-color: transparent;
    color: #F6AE5A;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 0.07px;
  }

  .safe {
    background-color: transparent;
    color: #717171;
    font-size: 8px;
    font-weight: 500;
    letter-spacing: 0.07px;
  }

  .interest {
    background-color: transparent;
    color: #55C3F1;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: 0.07px;
  }
}

.chart-wrap {
  .cluster-list {
    position: absolute;
    top: -41%;
    left: -51%;
    width: 257%;
    height: 100%;

    //.left-list {
    //  span {
    //    padding: 32.5% 13px;
    //  }
    //}

    span {
      @media screen and (max-width: 767px) {
        //padding: 26.5% 6.5px;
        font-size: 16px !important;
      }
    }
  }
}

.on {
  transition: bottom 0.5s;
  bottom: 0px !important;
}

.recommend-list {
  opacity: 0.5;
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  width: 100%;
  transition: bottom 0.5s;
  bottom: 0px;
  background-color: #f3f3f3;

  color: #414042;

  .header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 6px;

    padding-top: 28px;
    height: 85px;

    font-weight: 500;
    font-size: 16px;
    line-height: 19px;

    letter-spacing: 0.0703846px;
    border-top: 1px solid #d9d9d9;

    span {
      font-weight: 400;
      font-size: 12px;
      line-height: 14px;
      text-align: center;
      letter-spacing: 0.0703846px;

      color: #db621e;
    }

    .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0px;
      width: 33px;
      height: 13px;
      background-color: black;
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      border-bottom-right-radius: 6px;
      border-bottom-left-radius: 6px;

      img {
        width: 9px;
        height: auto;
      }

      .down {
        rotate: 180deg;
      }
    }
  }

  .list {
    width: 100%;
    height: 409px;
    background-color: #f3f3f3;
  }

  .control_product {
    display: flex;
    flex-direction: column;
    height: 409px;
    overflow: scroll;
    background-color: #e6e6e6;

    .product-item {
      width: 100%;
      height: 96px;
      font-size: 20px !important;
      gap: 10px;
      flex-direction: row;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 16px;

      font-size: 15px;

      .text {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        gap: 5px;
      }

      span {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: 0.0703846px;

        color: rgba(65, 64, 66, 0.8);
      }

      p {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.0703846px;

        color: #414042;
      }
    }

    hr {
      border-top: 1px solid white;

      margin: 0 16px;

      &:last-child {
        display: none;
      }
    }

    .icon {
      width: 72px;
      height: 72px;
    }

    img {
      width: 72px;
      height: 72px;
      background-color: white;
      border-radius: 10px;
    }

    .unselected {
      opacity: 0.5;
    }
  }
}

.chk_box {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  width: 19px;
  height: 19px;
}

label {
  width: 19px;
  z-index: 1000;
}

.chk_box input[type="checkbox"] {
  display: none;
  width: 19px;
  height: 19px;
}

.chk-on {
  z-index: 1000;
  margin-left: 5px;
  margin-top: 5px;

  width: 19px;
  height: 19px;
  background: white;
  border: 1px solid #707070;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 0;
}

.chk_box input[type="checkbox"]:checked+.chk-on {
  background: #c4926d;
  border: 1px solid #c4926d;
}

.chk-on:after {
  content: "";
  position: absolute;
  display: none;
}

.chk_box input[type="checkbox"]:checked+.chk-on:after {
  display: block;
}

.chk-on:after {
  width: 6px;
  height: 10px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  left: 5px;
  top: 0;
}
:deep(.acdr--txt){
  font-size: 1.2rem;
  font-family: "RixSinHead_Light", sans-serif;
  color: #555;
  padding: 0 2rem 3.8rem;
  word-break: break-all;
  z-index: 1;
  position: absolute;
  bottom: -27rem;
  @media (min-width: 480px) {
    bottom: -21rem;
  }
  @media (min-width: 620px) {
    bottom: -15rem;
  }
  @media (min-width: 960px) {
    font-size: 1.4rem;
    text-align: center;
    bottom: -5rem;
    padding: 0;
  }
}

// 건강 영역별 원료 가이드 스타일
.AnalyzeDetailGuide--con-ul .health-guide-category {
  &.status-danger{
    h5, p{
      color: #e95371;
    }
  }
  &.status-warn{
    h5, p{
      color: #f8b500;
    }
  }
}