
input, textarea {
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  
}
select {
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;
}  
select::-ms-expand{
  /* 화살표 없애기 for IE10, 11*/ 
  display:none;
} 
input::placeholder {
  color: $placeholder-color;
  font-size: 1rem;
}
input[type="text"], 
input[type="password"], 
input[type="email"], 
input[type="number"], 
input[type="tel"], 
input[type="date"], 
input[type="time"], 
input[type="file"], 
input[type="submit"], 
select, textarea{
  background-color: transparent;
  font-size: calcRem(20);
}
input[type="file"] {
  display: none;
  
}
input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* input radio*/
input[type="radio"] {
 display: none;
}

input[type="radio"] + label {
  cursor: pointer;
  gap: 0.8em;
  width: 100%;
  margin: 0 1em;
  font-weight: 500;
  position: relative;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #fff;
  padding: 1.5rem 2.5rem;
  margin-bottom: 20px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
}

input[type="radio"] + label span {
  margin: 0 auto;
}

input[type="radio"]:checked + label {
  border: 1px solid $point-color;
}
// select option {
//   font-size: 1rem;
// }
.form{
  margin-top: 1.5rem;
}
/* input form*/
.login-form-box {
  padding: 2rem .3rem;
}
.find-password-form-box{
  padding: 2rem .3rem;
}
.email-form-group.join{
  margin-bottom: 3.3125rem;
  padding-top: 30px;
  & .email-form-content{
    display: flex;
    align-items: baseline !important;
    position: relative;
  }
}


.form-group, .email-form-group {
  position: relative;
  margin-bottom: 1.6rem;
}

.form-group label, .email-form-group label {
  display: block;
  font-size: 0.9375rem;
  color: $body-sub-color;
  font-weight: 500;
  margin-bottom: 0.8125rem;

  &.bold {
    font-size: 1rem;
    font-weight: 600;
    color: #1D1D1D;
  }
}

.form-group .unit {
  // position: absolute;
  // right: 0;
  // color: #8E8E8E;
  word-break: normal;
  font-size: calcRem(17);
  text-align: center;
}

.form-group input {
  width: 100%;
  padding: calcRem(10);
  
  border-bottom: 1px solid $border-color;
  font-size: calcRem(20); 

  &.active{
    border-bottom-color: $point-color
  }

  & + .checkmark {
    bottom: 10px;
    right: 0;
  }

}
.form-group, .email-form-group {
  &.active {
    input {
      border-bottom-color: $point-color
    }
  }
}
/* input email form*/

.email-form-group {
  position: relative;
}

.email-form-group input {
  font-size: calcRem(20);
  width: 50%;
  padding: calcRem(10);
  border-bottom: 1px solid $border-color;
}

.email-form-group select {
  color: $font-color;
  -webkit-appearance: none; // Removes the default browser styling for Safari
  width: 50%;
  padding: calcRem(10);
  border-bottom: 1px solid $border-color;
}

.email-form-group input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  padding: 10px 20px;
}

.email-form-group .image-arrow-down{
  position: absolute;
  right: 1.5rem;
  top: 5px;
  display: grid;
}
.email-form-group .reference, .form-group .reference {
  position: absolute;
  font-size: 0.85rem;
  bottom: -15px;
  font-weight: 400;
}
.email-form-group p.required, .form-group p.required {
  position: absolute;
  font-size: 0.85rem;
  // bottom: -0.9375rem;
  color: red;
  visibility: visible;
  &.valid {
    visibility: hidden;
  }
}
.form-group span.required {
  font-size: calcRem(14);
  // bottom: -0.9375rem;
  color: red;
  visibility: visible;
  &.valid {
    visibility: hidden;
  }
}

.form-group span.length-count{
  font-size: calcRem(14);
}
.email-form-group, .form-group {
  
  &.invalid {
    input, select {
      border-bottom: 1px solid red;
    }
    
  }
  &.valid {
    input, select {
      border-bottom: 1px solid $border-color;
    }
  }
}
.email-form-group .address {
  padding-left: 10px;
  padding-right: 10px;
}

/* input checkbox*/

.form-checkbox-group {
  display: flex;
  align-items: center;
  position: relative;
  border: 1px solid transparent;
  border-radius: 20px;
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 20px;
  height: 6rem;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);

  & .left {
    width: 80%;
  }

  & span {
    font-size: 1.12rem;
    font-weight: 400;
    display: block;
    word-wrap: break-word;
    color: #A7A7A7;
  }

  & p{
    font-size: 0.78rem;
    width: 80%;
  }

  &.checked{
    background-color: #FFEEE2;

    & .left span{
      color: $point-color
    }
  }
}

.form-checkbox-group .checkmark-circle{
  right: 20px;
  top: 40%;
  border: 1px solid #9A9A9A
}

.form-checkbox-group input:checked ~ .checkmark-circle {
  border : 1px solid transparent;
  background-color: #F97619;

  &::after {
    border: 1px solid #fff;
    border-width: 2px 2px 0px 0px;
  }
}

.form-checkbox-group input:checked ~ .checkmark {

  &::after {
    border: 1px solid orange;
    border-width: 2px 2px 0px 0px;
  }
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 2rem;
  margin: 1rem .5rem;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container input:checked ~ .checkmark-circle {
  border : 1px solid $point-color;

  &::after {
    border: 1px solid $point-color;
    border-width: 2px 2px 0px 0px;
  }
}

.checkbox-container input:checked ~ .checkmark-circle.fill {
  background-color : $point-color;

  &::after {
    border: 1px solid #fff;
    border-width: 2px 2px 0px 0px;
  }
}


.checkbox-container input:checked ~ .checkmark {

  &::after {
    border: 1px solid $point-color;
    border-width: 2px 2px 0px 0px;
  }
}


.img-edit{
  cursor: pointer;
  position: absolute;
  right: .5rem;
  width: 1.3rem;
  height: 1.3rem;
  display: grid;
}

.select-form-group {
  position: relative;
  // padding: 10px 0;
  
  border-bottom: 1px solid $border-color;
  margin-bottom: 1.6rem;
  font-size: calcRem(17);
  & select{
    padding: 0.625rem;
  }
  & .image-arrow-down{
    position: absolute;
    right: calcRem(20);
  }
}

.dropbox-group {
  position: relative;
  // padding: 10px 0;
  background-color: #fff;
  border-radius: calcRem(20);
  font-size: calcRem(17);

  & .dropdown{
    // padding: calcRem(15) calcRem(15);
    width: 100%;
    text-align: center;

    & li {
      padding: calcRem(15) 0;

      &.default {
        color : $placeholder-color;
      }
    }
  }
  & .image-arrow-down{
    position: absolute;
    right: calcRem(35);
    top: calcRem(10);

  }
}
.image-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 기본 3열 */
  gap: calcRem(30); /* 요소 간 간격 */
  text-align: center;

  & img {
    width: 100%; /* 그리드 셀의 너비에 맞춤 */
    height: calcRem(81); /* 그리드 셀의 높이에 맞춤 */
    object-fit: contain; /* 이미지를 셀 크기에 맞게 채움 */
    border: 1px solid $border-color;
    border-radius: calcRem(10);
  }

  & .image-label {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex: 1;
    flex-direction: column;
    gap: calcRem(8);
   
  }
  /* 선택된 상태 스타일 */
  input[type="radio"]:checked + img {
    border: 2px solid $point-color;
  }
}

.radio-group {
  display: flex;
  justify-content: space-around;
  // margin-bottom: calcRem(60);
  // margin-top: calcRem(30);
}

.radio-label {
  display: flex;
  align-items: center;
  gap: calcRem(10);
  cursor: pointer;
  font-size: calcRem(16);
}

/* 기본 라디오 버튼 숨기기 */
.radio-label input[type="radio"] {
  display: none;
}

/* 커스텀 라디오 버튼 스타일 */
.radio-label .custom-radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid gray;
  border-radius: 50%;
  position: relative;
  background-color: white; /* 기본 배경 */
}

/* 선택된 상태 스타일 */
.radio-label input[type="radio"]:checked + .custom-radio {
  border-color: $point-color;
  background-color: #fff;
}

/* 선택된 상태의 내부 점 */
.radio-label input[type="radio"]:checked + .custom-radio::after {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: $point-color;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

