@import 'variables';

.flex-between {
    @include flex;
}
.flex {
    display: flex;
}
.center {
    @include flex(center, center);
}
.flex-top {
    display: flex;
    align-items: flex-start !important;
}
.flex-bottom {
    display: flex;
    align-items: flex-end !important;
}
.float-r {
    float: right;
}

.text-right {
    text-align: right !important;
}
.text-center {
    text-align: center !important;
}
.text-left {
    text-align: left !important;
}

@for $i from 0 to 101 {
    .w-#{$i} {
        width: ($i * 1%) !important;
    }
    .h-#{$i} {
        height: ($i + 0px) !important;
    }
    .mr-#{$i} {
        margin-right: ($i + 0px) !important;
    }
    .mt-#{$i} {
        margin-top: ($i + 0px) !important;
    }
    .ml-#{$i} {
        margin-left: ($i + 0px) !important;
    }
    .mb-#{$i} {
        margin-bottom: ($i + 0px) !important;
    }
    .pr-#{$i} {
        padding-right: ($i + 0px) !important;
    }
    .pt-#{$i} {
        padding-top: ($i + 0px) !important;
    }
    .pl-#{$i} {
        padding-left: ($i + 0px) !important;
    }
    .pb-#{$i} {
        padding-bottom: ($i + 0px) !important;
    }
    .fs-#{$i} {
        font-size: ($i + 0px) !important;
    }
}
